<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_piano_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.PianoNotesQuiz"
        tools:targetApi="31">
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <!-- roundIcon is app icon -->
        <!-- android:icon="@drawable/main_background" -->
        <!-- splash screen icon -->
        <activity
            android:name=".KeyboardActivity"
            android:exported="false" />
        <activity
            android:name=".ShowScore"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PlayActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>